.container{
    padding-top:10px
}
h1{
    font-size: 30px;
    color:purple;
    text-align: center;
    margin-bottom: 40px;
}
.inputContainer
{
    display:flex;
    justify-content: space-around;

}
.inputContainerInner
{
    display:flex;
    justify-content: space-around;
    height: 30%;
    align-items: center;
}
button{
    width: 100px;
    border-radius: 20px;
    background-color: blue;
    color: white;
    font-weight: bold;
}
input{
    width:500px;
    border:1px solid black;
    padding:5px
}
